* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#forgot-password-page {
  width: 100%;
  background: url("../../../../../assets/images/bg2.jpg") no-repeat center;
  background-size: 50% 100%;
  background-position: left center;

  .row {
    background-color: rgba(227, 239, 248, 0.6);
    color: black;
    text-align: center;
    padding: 2em 2em 0.5em;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
  }

  .row h1 {
    font-size: 2.5em;
  }

  .btn-primary {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    background-size: 200% auto;
    border-radius: 6px;
    width: 100%;
    color: white;
    padding: 4px;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
  }

  .btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .mat-form-field {
    display: block;
  }

  .backbtn {
    background: #f6f2e9 0% 0% no-repeat padding-box;
    margin-left: -5rem;
    margin-right: 1.8rem;
  }

  .footer {
    margin-top: 20px;
  }

  .reset-password {
    color: #b2002d;
    text-decoration: none;
    font-weight: 600;
  }

  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .flex-div {
    display: flex;
    flex-direction: row;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .flex-item-left {
    padding: 10px;
    flex: 50%;
  }

  .flex-item-right {
    padding: 10px;
    flex: 50%;
    margin-top: 200px;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {

    .flex-item-left,
    .flex-item-right {
      flex: inherit;
    }

    background: white;

    .footer-div {
      padding: 0px 50px;
      bottom: -160px;
    }

    .flex-container {
      flex-direction: column;
    }

    .margin-bottom {
      margin-bottom: 1rem;
    }

    .margin-top {
      margin-top: 1rem;
    }

    .loginform {
      padding: 0px 30px;
    }

    .flex-div {
      display: block;
      text-align: center;
    }

    .flex-div p {
      text-align: center;
    }

    .loginform h2,
    .loginform p {
      text-align: center;
    }

    .backbtn {
      margin-left: -2rem;
      margin-right: -0.2rem;
    }
  }
}