<div id="forgot-password-page">
  <div class="flex-container my-auto ">
    <div class="flex-item-left">
    </div>
    <div class="flex-item-right bg-white">

      <div class="row">
        <form [formGroup]="form" (ngSubmit)="forgot_password()">
          <h1>Forgot Password</h1>
          <p>Enter your registered email to reset your password.
          <div class="input-wrapper">
            <!--Email-->
            <mat-form-field class="full-width-input" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required />
              <mat-error style="color: rgb(241, 14, 14)">Invalid email format</mat-error>
            </mat-form-field>
          </div>
          <!--Link -->
          <button mat-button color="primary" class="btn-primary" [disabled]="!form.valid">
            SEND RECOVERY LINK
          </button>
        </form>
        <!--Login button  -->
        <div class="footer">
          <!-- <h3>New here? <a href="#">Sign Up.</a></h3> -->
          <h3 style="margin-top:40px ;">Return to <a class="reset-password" [routerLink]="['/auth/login']">Login</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>