#reset-password-page {
    width: 100%;
    background: url("../../../../../assets/images/bg2.jpg") no-repeat center;
    background-size: 50% 100%;
    background-position: left center;
    .bottom-logo {
      max-height: 24px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .bottom-text {
      margin-left: 10px;
      margin-right: 10px;
    }
    .text-center {
      text-align: center;
    }
    .logo {
      max-height: 65px;
    }
    .image-responsive {
      max-width: 100%;
      height: auto;
    }
    .logotext {
      font: normal normal normal 16px/26px Lato;
    }
    .margin-top {
      margin-top: 2rem;
    }
    .bg-white {
      background: white;
    }
    .margin-bottom {
      margin-bottom: 2rem;
    }
    .btn-primary {
        background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
        background-size: 200% auto;
        border-radius: 6px;
        width: 100%;
        color: white;
        padding: 4px;
        transition: 0.5s;
        box-shadow: 0 0 20px #eee;
      }
    
      .btn-primary:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }
  
    .btn-secondary {
      background: #f6f2e9 0% 0% no-repeat padding-box;
      border-radius: 6px;
      width: 100%;
      padding: 6px;
    }
    .btn-secondary img {
      vertical-align: middle;
      margin: 0px 5px 4px 5px;
      width: 23px;
    }
    .input-wrapper {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    .mat-form-field {
      display: block;
    }
  
    .forgot-password {
      color: #b2002d;
      text-decoration: none;
      font-weight: 600;
    }
  
    ::ng-deep {
      .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: #000000;
      }
      .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: #c4c4c4;
      }
      .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
        .mat-form-field-outline-thick {
        color: #c4c4c4;
      }
  
      .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
      .mat-form-field.mat-form-field-invalid
        .mat-form-field-label
        .mat-form-field-required-marker {
        color: #c4c4c4;
      }
    }
    .backbtn {
      background: #f6f2e9 0% 0% no-repeat padding-box;
      margin-left: -5rem;
      margin-right: 1.8rem;
    }
    .text-right {
      text-align: right;
     
    }
    .loginform {
      padding: 0px 100px;
      margin-top: 200px;
      .forgot-password a {
        color: black;
      }
      h2 {
        text-align: left;
        font: normal normal bold 36px/26px Lato;
        letter-spacing: 0.36px;
        color: #000000;
      }
      p {
        text-align: left;
        font: normal 16px/26px Lato;
        letter-spacing: 0.16px;
        color: #000000;
      }
    }
  
    .flex-div {
      display: flex;
      flex-direction: row;
    }
  
    .footer-div {
      padding: 0px 145px;
      background: white;
      bottom: -65px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      img {
        margin-top: 6px;
        max-height: 38px;
        margin-left: 10px;
        margin-right: 10px;
      }
      p {
        margin: 5px 0 5px;
      }
  
      .flex-div {
        justify-content: center;
      }
    }
  
    .flex-container {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
  
    .flex-item-left {
      padding: 10px;
      flex: 50%;
    }
  
    .flex-item-right {
      padding: 10px;
      flex: 50%;
    }
  
    .divcontainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .divline {
      flex: 1;
    }
  
    .divtext {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    /* Responsive layout - makes a one column-layout instead of two-column layout */
    @media (max-width: 800px) {
      .flex-item-left,
      .flex-item-right {
        flex: inherit;
      }
      background: white;
      .footer-div {
        padding: 0px 50px;
        bottom: -160px;
      }
      .flex-container {
        flex-direction: column;
      }
      .margin-bottom {
        margin-bottom: 1rem;
      }
      .margin-top {
        margin-top: 1rem;
      }
      .loginform {
        padding: 0px 30px;
      }
      .flex-div {
        display: block;
        text-align: center;
      }
      .flex-div p {
        text-align: center;
      }
      .loginform h2,
      .loginform p {
        text-align: center;
      }
      .backbtn {
        margin-left: -2rem;
        margin-right: -0.2rem;
      }
    }
  }
  
