<div id="reset-password-page">
  <div class="flex-container">
    <div class="flex-item-left">
    </div>

    <div class="flex-item-right bg-white">
      <div class="loginform">
        <div class="margin-top margin-bottom">
          <form [formGroup]="form" (ngSubmit)="setPassword()">
            <div>
              <h2>
                <button [routerLink]="['/auth/login']" class="backbtn" mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>keyboard_backspace</mat-icon>
                </button>
                Change Password?
              </h2>
              <p>Reset your password</p>
            </div>
            <div>
              <div class="input-wrapper">
                <mat-form-field class="full-width-input" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input [type]="pwdVisibleA ? 'text' : 'password'" formControlName="password" matInput
                    pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$" required />
                  <mat-icon matSuffix class="pass-vis" (click)="pwdVisibleA = !pwdVisibleA">
                    {{
                    pwdVisibleA ? "visibility_off" : "visibility"
                    }}
                  </mat-icon>
                  <mat-error style="color: rgb(241, 14, 14)">
                    Password must contain at least one capital letter, one small
                    letter and one number and any special character like @$_#
                    etc
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="input-wrapper">
                <mat-form-field class="full-width-input" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input [type]="pwdVisibleB ? 'text' : 'password'" matInput formControlName="confirmPassword"
                    pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=]).*$" required />
                  <mat-icon matSuffix class="pass-vis" (click)="pwdVisibleB = !pwdVisibleB">
                    {{
                    pwdVisibleB ? "visibility_off" : "visibility"
                    }}
                  </mat-icon>
                  <mat-error style="color: rgb(241, 14, 14)">
                    Password must contain at least one capital letter, one small
                    letter and one number and any special character like @$_#
                    etc
                  </mat-error>
                </mat-form-field>

              </div>
            </div>

            <div>
              <button mat-button type="submit" color="primary" class="btn-primary">
                CONFIRM
              </button>
            </div>

            <div class="input-wrapper">
              <div class="text-center">
                Return to
                <a class="forgot-password" [routerLink]="['/auth/login']">
                  Login
                </a>
              </div>
            </div>
            <div class="input-wrapper">
              <div class="divcontainer">
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>